---
import ProjectCats from "./Project-Cats.astro";

let cats = Astro.props.cats;
---

<div class="container-project-cats space-x-5 flex flex-row">
  {cats.map((cat) => <ProjectCats color={cat.color} title={cat.title} />)}
</div>
