---
interface Props {
  title?: string;
  color: string;
  mods?: string;
}

const { title, color, mods } = Astro.props;
---

<span style={`--color: ${color};`} class="project-cat">
  <p class="text-sans-bold">{title}</p>
</span>

<style>
  span.project-cat {
    filter: drop-shadow(5px 5px 0 var(--color));
    background-color: var(--clr-white);
    display: inline-block;
    padding: 0.5rem 1rem;
    border: 3px solid black;
    transition: all;
    transition-duration: 0.5s;
    animation: ease-in-out;
  }
  span.project-cat:hover {
    filter: drop-shadow(3px 3px 0 var(--color));
    background-color: var(--clr-white);
  }
  p {
    color: black;
  }
</style>

<!-- smaller font, lower border px, remove bold, change color to  -->
