---
interface Props {
  text: string;
}

const { text }: Props = Astro.props;
---

<div class="sub-header-container">
  <h3 class="sub-header--text text-sans-bold">
    {text}
  </h3>
</div>

<style>
  .sub-header--text {
    text-transform: uppercase;
  }
</style>
