---
interface Props {
  text: string;
  textSecondary?: string;
  id?: string;
}

const { text, textSecondary, id }: Props = Astro.props;
---

<div class='sub-header-container' id={id}>
  <h3 class='sub-header--text text-sans-bold'>
    {text}
  </h3>
  <p class='sub-header--text__secondary text-sans-bold'>{textSecondary}</p>
</div>

<style>
  .sub-header-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }

  .sub-header--text,
  .sub-header--text__secondary {
    text-transform: uppercase;
    font-size: 1rem;
  }
</style>
