---
import Layout from '../layouts/Layout.astro'
import Header from '../components/Header.astro'
import SmHeadline from '../components/SmHeadline.astro'
import ExpertiseCard from '../components/Expertise-Card.astro'
import ToolCard from '../components/Tool-Card.astro'
import Footer from '../components/Footer.astro'
---

<Layout title="Hunter Van Lear">
	<Header />
	<div class="primary-container flex flex-col items-center">
		<section class="hero-section container">
			<SmHeadline headline="" />

			<!-- TODO:
            refactor this to use better structured HTML
            These can honestly be spun out into an astro component that uses the title and URL as props
        -->
			<!-- <div class="container pt-8"> -->
			<div class="byline">
				<h class="hero-text outfit mt-4 text-2xl md:text-5xl lg:text-6xl">About Me.</h>
			</div>
			<div class="container py-20">
				<hr class="" style="color:white;" />
			</div>
		</section>
		<section class="body-section container flex w-10/12 flex-col gap-24">
			<div class="flex flex-row">
				<div class="heading-contianer w-8/12">
					<h2 class="text-serif-2 pb-4">
						I am a creative UI/UX Designer and Engineer that specializes in crafting intuitive
						interfaces for technical software solutions.
						<!--, who is all about it -->
					</h2>
					<!-- <h2 class=" w-6/12 ">Hunter is a creative UI/UX Designer and Engineer, who is all about</h2> -->
					<p class="header-content">
						I bring a unique advantage to the design process by bridging the gap between design and
						implementation, resulting in more practical and technically feasible user interfaces. My
						expertise allows for smoother collaboration with developers, leading to faster and more
						efficient product development cycles, ultimately enhancing the overall user experience.
					</p>
				</div>
			</div>
			<div class="">
				<div class="heading-contianer">
					<h2 class="page-sect-heading text-serif-2 mb-12">My Expertise</h2>
					<div class="card-container gap-12">
						<ExpertiseCard
							url="/svg/design-pencil.svg"
							,
							title="Design"
							,
							content="Meging form and function is why i'm here. Helping users navigate complex interfaces through intutive design is my passion."
						/>
						<ExpertiseCard
							url="/svg/research.svg"
							,
							title="Research"
							,
							content="Thorough research informs user-centric design decisions."
						/>
						<ExpertiseCard
							url="/svg/analytics.svg"
							,
							title="Analytics"
							,
							content="Quantifying user friction to make better informed design and strategy decisions gives me the warm and fuzzies."
						/>

						<ExpertiseCard
							url="/svg/agile.svg"
							,
							title="Agile"
							,
							content="Agile teams streamline UX/UI design, fostering flexibility, collaboration, and rapid iteration."
						/>
						<ExpertiseCard
							url="/svg/design-pencil.svg"
							,
							title="IA"
							,
							content="Effective Information Architecture ensures content is logically organized, navigation is intuitive, and users can easily find what they need."
						/>
						<ExpertiseCard
							url="/svg/develop.svg"
							,
							title="Development"
							,
							content="Sharing a common language with developers helps to ensure feasible expectations accross teams."
						/>
					</div>
				</div>
			</div>
			<div class="flex flex-row justify-center">
				<div class="heading-contianer w-10/12">
					<h3 class="page-sect-heading-small text-serif-2 mb-20 flex justify-center">My Tools</h3>
					<div class="card-container tools gap-20">
						<ToolCard
							url="/svg/tools-figma.svg"
							,
							title="Figma"
							,
							content="Best in class design software"
						/>
						<ToolCard
							url="/svg/tools-adobe.svg"
							,
							title="Adobe"
							,
							content="Image and asset manipulation"
						/>
						<ToolCard
							url="/svg/tools-ai.svg"
							,
							title="AI"
							,
							content="A tool to increase velocity"
						/>
						<ToolCard
							url="/svg/tools-miro.svg"
							,
							title="Miro"
							,
							content="User flow mapping is just the start"
						/>
						<ToolCard
							url="/svg/tools-sass.svg"
							,
							title="Sass"
							,
							content="Sometimes desiging on the page is faster"
						/>
						<ToolCard
							url="/svg/tools-html.svg"
							,
							title="HTML"
							,
							content="The bones of the internet"
						/>
						<ToolCard
							url="/svg/tools-js.svg"
							,
							title="Javascript"
							,
							content="For interaction design testing"
						/>
						<ToolCard
							url="/svg/tools-chrome.svg"
							,
							title="The Browser"
							,
							content="Using dev-tools to debug in the wild"
						/>
					</div>
				</div>
			</div>
		</section>
	</div>
	<div id="footer">
		<Footer />
	</div>
</Layout>

<style>
	/* PAGE SPECIFIC STYLING
    TODO - 
    - Consolidate the stying for the basic frame. 
    - Clean this CSS UP

    */

	.tool-card {
		border: 1px solid white;
	}

	.page-sect-heading {
		font-size: 3.75rem;
	}
	.page-sect-heading-small {
		font-size: 2.75rem;
	}

	h2 {
		font-size: 1.9rem;
		line-height: 1.3;
	}

	.header-content {
		font-size: 1rem;
		color: var(--clr-off-white-3);
		letter-spacing: 0.2px;
	}

	/* PAGE SPECIFIC STYLING */

	.primary-container {
		min-height: 70vh;
		animation: transitionIn 1s;
		margin: auto;
		padding: 1rem;
		/* max-width: calc(100% - 2rem); */
		color: var(--clr-white);
		font-size: 20px;
		line-height: 1.6;
	}

	#links-section {
		width: 100%;
	}

	.hero-text {
		font-family: 'Sohne-Leicht', sans-serif;
		color: var(--clr-off-white-3);
	}

	.byline {
		padding: 0.1rem 0;
		animation-delay: 1s;
		animation: transitionLeft 1s;
	}

	.astro-a {
		position: absolute;
		top: -32px;
		left: 50%;
		transform: translatex(-50%);
		width: 220px;
		height: auto;
		z-index: -1;
	}
	h1 {
		font-size: 4rem;
		font-weight: 700;
		line-height: 1;
		text-align: center;
		margin-bottom: 1em;
	}

	.instructions {
		margin-bottom: 2rem;
		border: 1px solid rgba(var(--accent-light), 25%);
		background: linear-gradient(rgba(var(--accent-dark), 66%), rgba(var(--accent-dark), 33%));
		padding: 1.5rem;
		border-radius: 8px;
	}
	.instructions code {
		font-size: 0.8em;
		font-weight: bold;
		background: rgba(var(--accent-light), 12%);
		color: rgb(var(--accent-light));
		border-radius: 4px;
		padding: 0.3em 0.4em;
	}
	.instructions strong {
		color: rgb(var(--accent-light));
	}
	.link-card-grid {
		display: grid;
		grid-template-columns: repeat(auto-fit, minmax(24ch, 1fr));
		gap: 2rem;
		padding: 0;
	}

	.card-container {
		display: grid;
		column-gap: 3rem;
		grid-template-columns: repeat(3, minmax(0, 3fr));
	}

	/* ANIMATIONS */

	@keyframes transitionIn {
		from {
			opacity: 0;
			transform: translateY(10px);
		}
		to {
			opacity: 1;
			transform: translateY(0);
		}
	}

	@keyframes transitionLeft {
		0% {
			opacity: 0;
			transform: translateX(-5px);
		}
		80% {
			transform: translateX(3px);
		}
		100% {
			opacity: 1;
			transform: translateX(0);
		}
	}

	@media screen and (min-width: 310px) {
		.card-container {
			display: grid;
			column-gap: 3rem;
			grid-template-columns: repeat(1, minmax(0, 3fr));
		}
	}
	@media screen and (min-width: 1050px) {
		.card-container {
			display: grid;
			column-gap: 3rem;
			grid-template-columns: repeat(3, minmax(0, 3fr));
		}
		.card-container.tools {
			grid-template-columns: repeat(4, minmax(0, 3fr));
		}
	}
	@media screen and (min-width: 750px) {
		.card-container {
			display: grid;
			column-gap: 3rem;
			grid-template-columns: repeat(2, minmax(0, 3fr));
		}
		.card-container.tools {
			grid-template-columns: repeat(2, minmax(0, 3fr));
		}
	}
</style>
