---
import Footer from "../components/Footer2.astro";
import Header from "../components/Header.astro";
import ProjectCats from "../components/Project/Project-Cats.astro";
import Layout from "../layouts/Layout.astro";
import SubHeader from "../components/General/Sub-Header.astro";
import Divider from "../components/General/Divider.astro";
import PhotoSwipeImage from "../components/General/PhotoSwipeImage.astro";

import us from "../assets/personal/1.png";
---

<Layout title="Hunter Van Lear">
  <Header />
  <main class="container flex flex-col">
    <section class="hero-section container">
      <div class="container-name">
        <h1 class="primary-header sm mt-4 text-sans-bold">Hello! I'm Hunter</h1>
        <div class="container-name__left">
          <h1 class="primary-header lg mt-4 text-sans-bold">
            Hello! I'm Hunter
          </h1>
          <div class="container-description text-sans mt-8">
            <div class="container-description__description">
              <p class="description">
                I'm a developer and designer who enjoys crafting intuitive
                experiences for technical products. With the abiliy to operate
                across the full spectrum of feature design and development, I am
                uniquely positioned to translate technical intricacies into
                seamless user journeys and coordinate with a broad spectrum of
                teams to achieve success.
              </p>
            </div>
          </div>
        </div>
        <div class="container-name__right">
          <!-- <ProjectCats color="#339288" imgUrl={us} /> -->

          <div class="container-picture">
            <PhotoSwipeImage
              border={true}
              borderColor="#339288"
              image={{
                src: us.src,
                width: 584,
                height: 390,
                thumbnail: us,
              }}
              alt="A picutre of my family"
            />
          </div>
        </div>
      </div>
    </section>

    <section class="container-about-body grid mt-8">
      <div class="container-about-body_left">
        <Divider />
        <SubHeader text="developer" textSecondary="001" />
        <div class="container-description text-sans mt-4">
          <div class="container-description__description">
            <p class="description">
              <span class="drop-cap text-sans-bold">B</span>
               uilding something, whether as part of a team or solo, is a unique
              journey. As a citizen of this increasingly digital world, I
              cherish the opportunity to create solutions that aid others.
              There's profound satisfaction in reflecting on past projects and
              realizing, 'I helped make that.' My effectiveness as a developer
              comes from a blend of technical proficiency, innovative thinking,
              and a user-centered approach. I thrive on challenging problems,
              leveraging my skills to develop seamless, intuitive digital
              experiences
            </p>
          </div>
        </div>
      </div>

      <div class="container-about-body_right">
        <Divider />
        <SubHeader text="designer" textSecondary="001" />
        <div class="container-description text-sans mt-4">
          <div class="container-description__description">
            <p class="description">
              <span class="drop-cap text-sans-bold">E</span>
               ffective interface design is the art of respecting the user's
              time. As a designer, my focus is on creating intuitive, engaging
              interfaces that streamline user interactions and enhance
              usability. My approach combines aesthetic sensibility with
              user-centered principles, ensuring that every design decision is
              made with the end-user's experience in mind. This dedication to
              thoughtful, efficient design not only respects the user's time but
              also transforms complex systems into accessible, user-friendly
              solutions
            </p>
          </div>
        </div>
      </div>
    </section>
  </main>
  <footer id="footer">
    <Footer />
  </footer>
</Layout>

<style>
  main {
    min-height: 85vh;
    margin: auto;
    padding: 1rem;
    /* max-width: calc(100% - 2rem); */
    color: var(--clr-white);
    font-size: 20px;
    line-height: 1.6;
    animation: transitionIn 1s;
  }

  .primary-header {
    line-height: 0.8;
    font-size: 5rem;
  }

  .secondary-header {
    font-size: 3rem;
  }

  img.project-image {
    max-width: unset !;
  }

  h1.primary-header.sm {
    display: block;
    margin-bottom: 1rem;
  }
  h1.primary-header.lg {
    display: none;
  }

  @media (min-width: 1000px) {
    h1.primary-header.sm {
      display: none;
    }
    h1.primary-header.lg {
      display: block;
    }
  }

  @media (max-width: 1000px) {
    .primary-header {
      font-size: 14.06vw;
    }
    .secondary-header {
      font-size: 9vw;
      white-space: nowrap;
    }
  }

  .container-name {
    display: flex;
    flex-direction: column;
  }

  @media (min-width: 1000px) {
    .container-name {
      flex-direction: row;
      justify-content: space-between;
      width: 100%;
    }
  }

  .container-name__left {
    display: flex;
    flex-direction: column;
    justify-content: center;
    order: 2;
  }

  @media (min-width: 1000px) {
    .container-name__left {
      max-width: 55%;
      order: 0;
    }
  }

  .description {
    font-size: 1.5rem;
  }

  .container-about-body {
    display: grid;
    grid-template-columns: 1fr;
    gap: 3rem;
  }

  @media (min-width: 1000px) {
    .container-about-body {
      grid-template-columns: 1fr 1fr;
    }
  }

  .drop-cap {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    top: 0.25rem;
    float: left;
    line-height: 0.75;
    font-size: 4.25rem;
    font-style: normal;
    padding: 0.1em 0.25em 0.1em 0;
    /* min-width: 5.5rem; */
    /* min-height: 6rem; */
    margin: 0 0.2em 0.075em 0;
    text-shadow:
      4px 3px 0px #339288,
      9px 8px 0px rgba(0, 0, 0, 0.15);
    text-stroke: 2px black;
    -webkit-text-stroke: 2px black;
  }
</style>
