---
import Footer from "../components/Footer2.astro";
import Header from "../components/Header.astro";
import ProjectCats from "../components/Project/Project-Cats.astro";
import Layout from "../layouts/Layout.astro";

import us from "../assets/personal/1.png";
---

<Layout title="Hunter Van Lear">
  <Header />
  <main class="container flex flex-col">
    <section class="hero-section container">
      <div class="container-name">
        <div class="container-name__left">
          <h1 class="primary-header mt-4 text-sans-bold">Hello! I'm Hunter</h1>
          <div class="container-description text-sans mt-8">
            <div class="container-description__description">
              <p class="description">
                am a developer and designer who strives to create clarity in
                complexity; I specialize in crafting intuitive experiences for
                technical products. With experience working across the full
                spectrum of feature design and development, I am uniquely
                positioned to translate technical intricacies into seamless user
                journeys and coordinate with a broad spectrum of technical teams
                to achieve success.
              </p>
            </div>
          </div>
        </div>
        <div class="container-name__right">
          <ProjectCats color="#339288" imgUrl={us} />
        </div>
      </div>
    </section>
    <section class="section-description grid mt-8"></section>
  </main>
  <footer id="footer">
    <Footer />
  </footer>
</Layout>

<style>
  main {
    min-height: 85vh;
    margin: auto;
    padding: 1rem;
    /* max-width: calc(100% - 2rem); */
    color: var(--clr-white);
    font-size: 20px;
    line-height: 1.6;
    animation: transitionIn 1s;
  }

  .primary-header {
    line-height: 0.8;
    font-size: 5rem;
  }

  .secondary-header {
    font-size: 3rem;
  }

  img.project-image {
    max-width: unset !;
  }

  @media (max-width: 1000px) {
    .primary-header {
      font-size: 14.06vw;
    }

    .secondary-header {
      font-size: 9vw;
      white-space: nowrap;
    }
  }

  .container-name {
    display: flex;
  }

  .container-name__left {
    max-width: 55%;
  }

  @media (min-width: 1000px) {
    .container-name {
      flex-direction: row;
      justify-content: space-between;
      width: 100%;
    }
  }
</style>
