---
import { Image } from "astro:assets";

import Footer from "../components/Footer2.astro";
import Link from "../components/General/Link.astro";
import Header from "../components/Header.astro";
import ProjectCats from "../components/Project/Project-Cats.astro";
import ToolCard from "../components/Tool-Card.astro";
import Layout from "../layouts/Layout.astro";

import code from "../../assets/projects/scrapercode.png";
import wiki from "../../assets/projects/wiki.png";

import us from "../assets/personal/1.png";

---

<Layout title="Hunter Van Lear">
  <Header />
  <main class="container flex flex-col">
    <section class="hero-section container">
      <div class="container-name">
        <h1 class="primary-header mt-4 text-sans-bold">Hello! I'm Hunter</h1>
        <Image class="project-image" loading="lazy" src={us} alt="" />
      </div>
    </section>
    <section class="section-description grid mt-8">
        <div class="container-description text-sans">
          <div class="container-description__description">
            <p class="description">
              A RESTful API built from the collected works of the horror master. I
              thought it strange that there was no pragmatically accessible data
              for one of the greatest living authors, so I built one. His loosely
              connected works fit perfectly into a relational database schema.
            </p>
          </div>
          <div class="container-description__link flex justify-end">
            <Link
              text="view site"
              url="https://stephen-king-api.onrender.com/"
              newWindow
            />
          </div>
        </div>
      </section>
  </main>
</Layout>

<style>
  main {
    min-height: 85vh;
    margin: auto;
    padding: 1rem;
    /* max-width: calc(100% - 2rem); */
    color: var(--clr-white);
    font-size: 20px;
    line-height: 1.6;
    animation: transitionIn 1s;
  }

  .primary-header {
    line-height: 0.8;
    font-size: 5rem;
  }

  .secondary-header {
    font-size: 3rem;
  }

  @media (max-width: 1000px) {
    .primary-header {
      font-size: 14.06vw;
    }

    .secondary-header {
      font-size: 9vw;
      white-space: nowrap;
    }
  }
</style>
