---
import Layout from "../layouts/Layout.astro";
import Header from "../components/Header.astro";
import Link from "../components/General/Link.astro";
import SubHeader from "../components/General/Sub-Header.astro";
import Divider from "../components/General/Divider.astro";
import PhotoSwipeImage from "../components/General/PhotoSwipeImage.astro";
import Footer from "../components/Footer2.astro";
import ProjectItem from "../components/Project/Project-Item.astro";
import Dribbble from "../components/Design/Dribbble.astro";
//project images
import skapi from "../assets/projects/skapi.png";
import modeler from "../assets/projects/modelFull.png";
import banking from "../assets/projects/bankFull2.png";
//personal
import me from "../assets/personal/Me.jpeg";
---

<Layout title="Hunter Van Lear">
  <Header />
  <main class="container flex flex-col items-center">
    <section class="hero-section container">
      <article class="container">
        <div class="container-title-picture justify-center">
          <div class="container-title">
            <div class="container-name">
              <h1 class="container-name__text text-sans-bold flex flex-row">
                <span>Hunter</span>
                <span class="ml-3">Van Lear</span>
              </h1>
            </div>

            <div class="container-byline">
              <h2 class="byline mt-8 text-sans-reg">
                Welcome! I'm a Developer and Designer, <br />
                 building things for the internet in Raleigh, NC
              </h2>
            </div>
          </div>

          <div class="container-picture">
            <PhotoSwipeImage
              border={true}
              borderColor="#FFC850"
              image={{
                src: me.src,
                width: 500,
                height: 500,
                thumbnail: me.src,
              }}
            />
          </div>
        </div>

        <Link text="my resume" url="/resume.pdf" />
      </article>
    </section>
    <Divider />
    <section class="container mt-2 mb-4" id="links-section">
      <SubHeader text="recent work" textSecondary="001" />
      <div class="project-container flex flex-col justify-center">
        <ProjectItem
          color="#FFC850"
          title="Stephen King API"
          description="The horror master + structred JSON."
          url="projects/skapi"
          imgUrl={skapi}
        />
        <ProjectItem
          color="#05B4FF"
          imageOnLeft
          title="BPMN Modeler"
          description="Making a complex process modeling tool accessible"
          url="/projects/modeler"
          imgUrl={modeler}
        />
        <ProjectItem
          color="#339288"
          title="Consumer Banking"
          description="Refreshing a consumer banking solution - COMING SOON"
          url="#"
          imgUrl={banking}
        />
      </div>
      <Link text="see all" url="/work" />
    </section>
    <Divider />
    <section class="container mt-2 mb-8">
      <SubHeader text="Design" textSecondary="002" />
      <Dribbble />
    </section>
  </main>
  <footer id="footer">
    <Footer />
  </footer>
</Layout>

<style>
  main {
    min-height: 85vh;
    margin: auto;
    padding: 1rem;
    /* max-width: calc(100% - 2rem); */
    color: var(--clr-white);
    font-size: 20px;
    line-height: 1.6;
    animation: transitionIn 1s;
  }

  #links-section {
    width: 100%;
    height: 100%;
    max-width: 162rem;
    box-sizing: content-box;
    height: 100%;
  }

  .hero-section {
    margin-top: 2rem;
  }

  @media (min-width: 725px) {
    .hero-section {
      margin-top: unset;
    }
  }

  .container-title-picture {
    display: grid;
    grid-template-columns: 1fr;
    gap: 2rem;
  }

  @media (min-width: 1024px) {
    .container-title-picture {
      grid-template-columns: 2fr 1fr;
      gap: 8px;
      grid-template-rows: auto auto;
    }
  }

  .container-title {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  .container-picture {
    display: flex;
    justify-content: center;
  }

  @media (min-width: 1024px) {
    .container-picture {
      justify-content: flex-end;
    }
  }

  .project-container {
    margin-top: 2rem;
  }

  .byline {
    padding: 0.1rem 0;
    animation-delay: 1s;
    animation: transitionLeft 1s;
    font-size: 3rem;
    line-height: 1;
  }

  .container-name__text > span {
    font-size: 5rem;
    line-height: 0.8;
  }

  @media (max-width: 1000px) {
    .container-name__text > span {
      font-size: clamp(32px, 10.06vw, 68px);
    }

    .byline {
      font-size: 5.06vw;
    }
  }

  .stagger {
    animation: transitionLeft 1.3s;
  }

  /* ANIMATIONS */

  @keyframes transitionIn {
    from {
      opacity: 0;
      transform: translateY(10px);
    }
    to {
      opacity: 1;
      transform: translateY(0);
    }
  }

  @keyframes transitionLeft {
    0% {
      opacity: 0;
      transform: translateX(-5px);
    }
    80% {
      transform: translateX(3px);
    }
    100% {
      opacity: 1;
      transform: translateX(0);
    }
  }

  @media (min-width: 768px) {
    #links-section {
      flex-direction: row;
    }
  }
</style>
