---
import Layout from "../layouts/Layout.astro";
import Links from "../components/Links.astro";
import Divider from "../components/General/Divider.astro";
import SubHeader from "../components/General/Sub-Header.astro";
import ProjectItem from "../components/Project/Project-Item.astro";

//project images
import skapi from "../assets/projects/skapi.png";
import modeler from "../assets/projects/modelFull.png";
import banking from "../assets/projects/banking.png";
---

<Layout title="Hunter | Work">
  <main class="primary-container container flex flex-col items-center">
    <Divider />
    <section class="mt-2 mb-8">
      <SubHeader text="recent work" textSecondary="001" />

      <div class="project-container flex flex-col justify-center mt-8">
        <ProjectItem
          color="#FFC850"
          title="Stephen King API"
          description="The horror master + structred JSON."
          url="/projects/skapi"
          imgUrl={skapi}
        />
        <ProjectItem
          color="#05B4FF"
          imageOnLeft
          title="BPMN Modeler"
          description="Making a complex process modeling tool accessible"
          url="/projects/modeler"
          imgUrl={modeler}
        />
        <ProjectItem
          color="#339288"
          title="Consumer Banking"
          description="Refreshing a consumer banking solution - COMING SOON"
          url="#"
          imgUrl={banking}
        />
      </div>
    </section>
    <Divider />
    <section class="hero-section container mb-8 mt-2">
      <SubHeader text="elsewhere" textSecondary="002" />
      <div class="links-container mt-20">
        <Links
          linkTitles={[
            {
              target: "_blank",
              url: "https://dribbble.com/huntervl",
              title: "Dribbble",
            },
            {
              target: "_blank",
              url: "https://github.com/hvanlear",
              title: "Github",
            },
            {
              target: "_blank",
              url: "https://codepen.io/hvanlear",
              title: "Codepen",
            },
          ]}
        />
      </div>
    </section>
  </main>
</Layout>

<style>
  section {
    width: 100%;
  }

  .primary-container {
    min-height: 70vh;
    animation: transitionIn 1s;
    margin: auto;
    padding: 1rem;
    /* max-width: calc(100% - 2rem); */
    color: var(--clr-white);
    font-size: 20px;
    line-height: 1.6;
  }

  #links-section {
    width: 100%;
  }

  .hero-text {
    font-family: "Sohne-Leicht", sans-serif;
    color: var(--clr-off-white-3);
  }

  .byline {
    padding: 0.1rem 0;
    animation-delay: 1s;
    animation: transitionLeft 1s;
  }

  .astro-a {
    position: absolute;
    top: -32px;
    left: 50%;
    transform: translatex(-50%);
    width: 220px;
    height: auto;
    z-index: -1;
  }
  h1 {
    font-size: 4rem;
    font-weight: 700;
    line-height: 1;
    text-align: center;
    margin-bottom: 1em;
  }

  .instructions {
    margin-bottom: 2rem;
    border: 1px solid rgba(var(--accent-light), 25%);
    background: linear-gradient(
      rgba(var(--accent-dark), 66%),
      rgba(var(--accent-dark), 33%)
    );
    padding: 1.5rem;
    border-radius: 8px;
  }
  .instructions code {
    font-size: 0.8em;
    font-weight: bold;
    background: rgba(var(--accent-light), 12%);
    color: rgb(var(--accent-light));
    border-radius: 4px;
    padding: 0.3em 0.4em;
  }
  .instructions strong {
    color: rgb(var(--accent-light));
  }
  .link-card-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(24ch, 1fr));
    gap: 2rem;
    padding: 0;
  }

  /* ANIMATIONS */

  @keyframes transitionIn {
    from {
      opacity: 0;
      transform: translateY(10px);
    }
    to {
      opacity: 1;
      transform: translateY(0);
    }
  }

  @keyframes transitionLeft {
    0% {
      opacity: 0;
      transform: translateX(-5px);
    }
    80% {
      transform: translateX(3px);
    }
    100% {
      opacity: 1;
      transform: translateX(0);
    }
  }
</style>
