---
interface Props {
  headline: string;
}

const { headline } = Astro.props;
---

<h2 class="sm-headline py-8 text-serif">{headline}</h2>

<style>
  .sm-headline {
    font-size: clamp(14px, calc(.6rem + .6 * ((100vw - 48rem) / 80)), 1.9rem);
    text-transform: uppercase;
    line-height: 26px;
    letter-spacing: 2px;
    font-weight: 600;
  }
</style>
