---
import { Image } from "astro:assets";

import Footer from "../../components/Footer2.astro";
import Link from "../../components/General/Link.astro";
import Header from "../../components/Header.astro";
import ProjectCats from "../../components/Project/Project-Cats.astro";
import ToolCard from "../../components/Tool-Card.astro";
import Layout from "../../layouts/Layout.astro";

import whitespace from "../../assets/projects/model-whitespace.png";
import wiki from "../../assets/projects/wiki.png";
---

<Layout title="Hunter Van Lear">
  <Header />
  <main class="container flex flex-col">
    <section class="hero-section container">
      <Link arrowOnLeft text="projects" url="" />
      <div class="container-name">
        <h1 class="mt-4 text-sans-bold flex flex-col md:flex-row">
          <p class="primary-header">BPMN Modeler</p>
        </h1>
      </div>
      <div class="container-project-cats mt-5 space-x-5 flex flex-row">
        <ProjectCats color="#05B4FF" title="UI Design" />
        <ProjectCats color="#05B4FF" title="Product Design" />
        <ProjectCats color="#05B4FF" title="Design Systems" />
      </div>
    </section>
    <section class="section-description grid mt-8 mb-20">
      <div class="container-description text-sans">
        <div class="container-description__description">
          <p class="description">
            A comprehensive UI and UX overhaul a web-based canvas tool used for
            modeling and creating complex <span class="text-sans-bold">B</span
            >usiness <span class="text-sans-bold">P</span>rocess and <span
              class="text-sans-bold">M</span
            >odel <span class="text-sans-bold">N</span>otation diagrams. The aim
            was to enhance usability, aesthetics, and functionality, making the
            tool more intuitive and efficient for users.
          </p>
        </div>
      </div>
    </section>

    <section class="section-goal">
      <div class="container-goal">
        <div class="container-goal__tools">
          <ToolCard
            url="/svg/tools-figma.svg"
            ,
            title="Figma"
            ,
            content="Modern UI Design tool"
          />
          <ToolCard
            url="/svg/tools-miro.svg"
            ,
            title="Miro"
            ,
            content="Digital Collaboration "
          />

          <ToolCard
            url="/svg/tools-jira.svg"
            ,
            title="Jira"
            ,
            content="Agile Project Management"
          />

          <ToolCard
            url="/svg/tools-js.svg"
            ,
            title="Javascript"
            ,
            content="For interaction design testing"
          />
        </div>
        <div class="container-goal__goal">
          <div class="goal-header text-sans-bold">
            <h2 class="secondary-header">The Goal</h2>
          </div>
          <div class="goal-text text-sans">
            <p>
              There were three primary objectives in the re-design: improving
              the tool's approachability, reducing the cognitive load placed on
              users, and implementing modern design patterns that will enable us
              to expand on the tool's functionality in the future.
            </p>
          </div>
        </div>
      </div>
    </section>
    <section class="section-challenge lg:mt-20 mb-20">
      <div class="container-challenge grid">
        <div class="container-challenge__challenge">
          <div class="challenge-header text-sans-bold">
            <h2 class="secondary-header">Cognitive Load</h2>
          </div>
          <div class="challenge-text text-sans">
            <p>
              The project aims to lower cognitive load for users navigating the
              inherent complexities of BPMN by minimizing visual clutter,
              simplifying the interface, and implementing modern UI design
              paradigms. We intend to enhance user experience through intuitive
              design, logical feature organization, and maximizing canvas
              workspace, thus enabling easier interaction and reducing the
              mental effort required for diagram creation. By adopting
              strategies like modular menus and progressive disclosure, we focus
              on presenting only necessary information, making the tool more
              approachable and efficient, and allowing users to concentrate on
              their modeling tasks without unnecessary distractions.
            </p>
          </div>
        </div>
        <div class="container-challenge__image flex flex-col space-y-20">
          <Image loading="lazy" src={whitespace} alt="A stack of King books" />
        </div>
      </div>
    </section>
    <section class="section-challenge">
      <div class="container-challenge-cont">
        <div class="container-challenge-cont__image flex flex-col space-y-20">
          <Image
            class="img_screen"
            loading="lazy"
            src={wiki}
            alt="King's wikipedia bibliography"
          />
        </div>
        <div class="container-challenge-cont__challenge">
          <div class="challenge-text text-sans">
            <div class="challenge-header text-sans-bold">
                <h2 class="secondary-header">Cognitive Load</h2>
              </div>
            <p>
              <span class="text-sans-bold">Where</span> am I going to source my
              data? I initially turned to Wikipedia, which provides a
              comprehensive list of Stephen King's entire body of work,
              including bibliographic data in a scraper-friendly format.
              However, I encountered challenges when attempting to extract
              character information due to inconsistent formatting across
              individual Wikipedia pages for King's works. Fortunately, I found
              an alternative source in the form of dedicated fan wikis related
              to Stephen King's work. Specifically, I leveraged the information
              available on the <a
                style="color:#5c02ff"
                href="https://villains.fandom.com/wiki/Category:Stephen_King_Villains"
                >Fandom</a
              > website, which offered a wealth of character data relevant to my
              project. This alternative source allowed me to successfully scrape
              and integrate character information into the API.
            </p>
          </div>
        </div>
      </div>
    </section>
  </main>
  <footer id="footer">
    <Footer />
  </footer>
</Layout>

<style>
  main {
    min-height: 85vh;
    margin: auto;
    padding: 1rem;
    /* max-width: calc(100% - 2rem); */
    color: var(--clr-white);
    font-size: 20px;
    line-height: 1.6;
    animation: transitionIn 1s;
  }

  .img_screen {
    border-radius: 4px;
  }

  .primary-header {
    line-height: 0.8;
    font-size: 5rem;
  }

  .secondary-header {
    font-size: 3rem;
  }

  @media (max-width: 1000px) {
    .primary-header {
      font-size: 14.06vw;
    }
    .primary-header p:last-child {
      margin-top: 1rem;
    }
    .secondary-header {
      font-size: 9vw;
      white-space: nowrap;
    }
  }

  .section-description {
    grid-template-columns: repeat(12, 1fr);
    gap: 1rem;
  }

  .description {
    font-size: 1.5rem;
  }

  .container-description {
    display: grid;
    grid-column: 1 / 13;
  }

  @media (min-width: 768px) {
    .container-description {
      grid-column: 1 / 10;
    }
  }

  .container-challenge-cont__image {
    order: 2;
  }

  @media (min-width: 768px) {
    .container-challenge-cont__image {
      order: 1;
    }
    .container-challenge-cont__challenge {
      order: 2;
    }
  }

  .container-goal,
  .container-challenge-cont {
    display: grid;
    grid-template-columns: 1fr;
    gap: 20px;
  }

  @media (min-width: 1000px) {
    .container-goal,
    .container-challenge-cont {
      grid-template-columns: 1fr 2fr;
    }
  }

  .container-goal__tools {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    column-gap: 1rem;
    row-gap: 2rem;
    order: 1;
    margin: 2rem 0;
  }

  @media (min-width: 1000px) {
    .container-goal__tools {
      order: 0;
      margin: unset;
    }
  }

  .container-challenge {
    display: grid;
    grid-template-columns: 1fr;
    gap: 30px;
  }

  @media (min-width: 1000px) {
    .container-challenge {
      grid-template-columns: 2fr 2fr;
    }
  }

  .byline {
    padding: 0.1rem 0;
    animation-delay: 1s;
    animation: transitionLeft 1s;
    font-size: 3rem;
    line-height: 1;
  }

  .stagger {
    animation: transitionLeft 1.3s;
  }

  /* ANIMATIONS */

  @keyframes transitionIn {
    from {
      opacity: 0;
      transform: translateY(10px);
    }
    to {
      opacity: 1;
      transform: translateY(0);
    }
  }

  @keyframes transitionLeft {
    0% {
      opacity: 0;
      transform: translateX(-5px);
    }
    80% {
      transform: translateX(3px);
    }
    100% {
      opacity: 1;
      transform: translateX(0);
    }
  }

  @media (min-width: 768px) {
    #links-section {
      flex-direction: row;
    }
  }
</style>
