---
import Layout from "../../layouts/Layout.astro";
import Link from "../../components/General/Link.astro";
import ProjectCats from "../../components/Project/Project-Cats.astro";
import ToolList from "../../components/Project/Tool-List.astro";
import PhotoSwipeImage from "../../components/General/PhotoSwipeImage.astro";

import modeler from "../../assets/projects/modelFull.png";
import modelWireframe from "../../assets/projects/modeler-wireframe.png";
import whitespace from "../../assets/projects/model-whitespace.png";
import whitespace2 from "../../assets/projects/model-whitespace2.png";
import proto from "../../assets/projects/proto-demo.gif";
import menus from "../../assets/projects/modeler-menus.png";
import menuStage from "../../assets/projects/modeler-menu-stage.png";
import graph from "../../assets/projects/bpmnGraph.png";
import menuDemo from "../../assets/projects/modeler-menu-demo.gif";
---

<Layout title='Hunter | BPMN'>
  <main class='container flex flex-col'>
    <Link arrowOnLeft text='projects' url='/work' />
    <div class='hero-container'>
      <div>
        <section class='container'>
          <div class='container-name'>
            <h1 class='mt-4 text-sans-bold flex flex-col md:flex-row'>
              <p class='primary-header'>BPMN Modeler</p>
            </h1>
          </div>
          <div class='container-project-cats flex mt-5'>
            <ProjectCats color='#05B4FF' title='UI Design' />
            <ProjectCats color='#05B4FF' title='Product Design' />
            <ProjectCats color='#05B4FF' title='Design Systems' />
          </div>
        </section>
        <section class='section-description grid mt-8'>
          <div class='container-description text-sans'>
            <div class='container-description__description'>
              <p class='description'>
                A comprehensive UI and UX overhaul a web-based canvas tool used
                for modeling and creating complex <span class='text-sans-bold'
                  >B</span
                >usiness <span class='text-sans-bold'>P</span>rocess and <span
                  class='text-sans-bold'>M</span
                >odel <span class='text-sans-bold'>N</span>otation diagrams. The
                aim was to enhance usability, aesthetics, and functionality,
                making the tool more intuitive and efficient for users.
              </p>
            </div>
          </div>
        </section>
      </div>
      <PhotoSwipeImage
        image={{
          src: modeler.src,
          width: 2165,
          height: 1484,
          thumbnail: modeler,
        }}
        alt='Process Modeler Update Screenshot'
      />
    </div>

    <section class='section-goal mt-20'>
      <div class='container-split-list'>
        <div class='container-split-list__left'>
          <div class='list-header text-sans-bold'>
            <h2 class='secondary-header'>Core Problems</h2>
          </div>
          <div class='list-text text-sans'>
            <ul class='list'>
              <li>
                <span class='text-sans-bold'> Cumbersome User Experience:</span>
                 Users encounter difficulties navigating and operating within
                the canvas space, resulting in a cumbersome and frustrating
                experience.
              </li>
              <li>
                <span class='text-sans-bold'> Limited Maneuverability:</span>
                 The tool lacks flexibility and ease of movement within the
                canvas, making it challenging for users to efficiently interact
                with and manipulate elements.
              </li>
              <li>
                <span class='text-sans-bold'> Estate:</span> Poor Usage of
                Screen Real Inefficient allocation of screen space further
                compounds usability issues, hindering users' ability to
                effectively visualize and work with their diagrams.
              </li>
              <li>
                <span class='text-sans-bold'>Inflexible Menu Structure:</span>
                 The existing menu structure fails to accommodate new features
                easily, leading to delays in implementing enhancements and
                limiting the tool's scalability and adaptability.
              </li>
            </ul>
          </div>
        </div>
        <div class='container-split-list__right'>
          <div class='list-header'>
            <h2 class='secondary-header text-sans-bold'>Complications</h2>
          </div>
          <div class='list-text text-sans'>
            <ul class='list'>
              <li>
                <span class='text-sans-bold'
                  >Tight Development Schedule for a Large Project:</span
                >
                 The project faced a tight development schedule, especially
                considering the magnitude of the redesign effort required.
                Balancing the need for thorough testing and iteration with the
                constraints of the timeline presented a significant challenge
              </li>
              <li>
                <span class='text-sans-bold'
                  >Complicated Code Base and Potential Performance Issues:</span
                >
                 The canvas tool operates on a complicated code base, which
                could potentially lead to performance issues and hinder the
                smooth functioning of the tool. Addressing this challenge
                requires careful optimization and refactoring to ensure optimal
                performance and stability.
              </li>
            </ul>
          </div>
        </div>
      </div>
    </section>
    <section class='lg:mt-20'>
      <div class='container-challenge'>
        <div class='container-image__two-col'>
          <PhotoSwipeImage
            image={{
              src: whitespace.src,
              width: 2128,
              height: 1091,
              thumbnail: whitespace,
            }}
            figcap='Unused white space'
            alt='White space present on old modeler'
          />
          <PhotoSwipeImage
            image={{
              src: whitespace2.src,
              width: 2128,
              height: 1091,
              thumbnail: whitespace2,
            }}
            figcap='Maximizing canvas space through more efficent menu design'
            alt='White space present on old modeler'
          />
        </div>
      </div>
    </section>
    <section class='section-goal mt-20'>
      <div class=''>
        <h2 class='secondary-header text-sans-bold'>Personas</h2>
      </div>
      <div class='container-split-list'>
        <div class='container-split-list__left'>
          <div class='list-text text-sans'>
            <ul class='list'>
              <p class='text-sans-bold mb-4'>
                Persona 1: New Users Familiar with BPMN
              </p>
              <p>As a new user, I need:</p>
              <li>
                Features like keyboard shortcuts to streamline my workflow,
                allowing me to perform tasks more efficiently and with fewer
                mouse clicks.
              </li>
              <li>
                More canvas space to view and navigate larger BPMN models,
                enabling me to work on complex diagrams without feeling
                constrained by limited screen real estate.
              </li>
              <li>
                Advanced functionalities that empower me to create intricate
                BPMN processes and diagrams, providing flexibility and
                customization options to meet diverse project requirements.
              </li>
            </ul>
          </div>
        </div>
        <div class='container-split-list__right'>
          <div class='list-text text-sans'>
            <ul class='list'>
              <p class='text-sans-bold mb-4'>
                Persona 2: Current Designers Utilizing ProcessMaker
              </p>
              <p>As a current designer, I need: :</p>
              <li>
                To be progressively exposed to the complications of the tooling
                so as not to overwhelm or produce too much cognitive load.
              </li>
              <li>
                Clear and concise onboarding materials that guide me through the
                basic functionalities of the tool.
              </li>
              <li>
                Access to comprehensive documentation and tutorials to
                facilitate my learning process.
              </li>
            </ul>
          </div>
        </div>
      </div>
    </section>
    <section class='lg:mt-20'>
      <div class='container__two-col'>
        <div class='col-one'>
          <PhotoSwipeImage
            image={{
              src: graph.src,
              width: 1905,
              height: 1037,
              thumbnail: graph,
            }}
            alt='Early prototype gif'
            figcap=''
          />
        </div>
        <div class='col-two col-two_order-1'>
          <div class='h-full flex flex-col justify-center'>
            <h2 class='secondary-header text-sans-bold'>Market Research</h2>
            <p>
              At the time of the redesign, major players in the BPMN modeling
              space were relying on older UI and UX patterns, which had become
              noticeably dated. This scenario presented an opportunity to set
              our canvas modeling tool apart by implementing contemporary,
              modern UI patterns, enhancing operation efficiency and user
              engagement.
            </p>
          </div>
        </div>
      </div>
    </section>
    <section class='lg:mt-20'>
      <div class='container__two-col'>
        <div class='col-one'>
          <div class='h-full flex flex-col justify-center'>
            <h2 class='secondary-header text-sans-bold'>Early Prototyping</h2>

            <p>
              In the initial stages, I developed a modern BPMN canvas prototype
              focused on maximizing space and enhancing navigability. Although
              the UI structure and menu patterns significantly differed from
              those in the final production platform, the core principles of
              maximizing canvas space, reducing cognitive load, and maintaining
              essential functionality guided the design's evolution and were
              integral to subsequent iterations.
            </p>
          </div>
        </div>
        <div class='col-two'>
          <div class=''>
            <PhotoSwipeImage
              image={{
                src: proto.src,
                width: 1905,
                height: 1037,
                thumbnail: proto,
              }}
              alt='Early prototype gif'
              figcap='Staging menus until needed was a primary strategy to reduce visual noise'
            />
          </div>
        </div>
      </div>
    </section>
    <!-- <section class="section-challenge">
      <div class="container-challenge-cont">
        <div class="container-challenge-cont__challenge">
          <div class="challenge-text text-sans">
            <div class="challenge-header text-sans-bold">
              <h2 class="secondary-header">A Design System</h2>
            </div>
            <p>
              The project necessitated the creation of a design system to
              streamline and unify the development process, enhancing
              collaboration between designers and developers. By establishing a
              consistent set of design principles and components, the system
              fostered a cohesive user experience and accelerated the
              design-to-development workflow. Leveraging a design system
              empowered the team to iterate more efficiently, ensuring that
              changes were uniformly applied across the tool, reducing
              redundancy and miscommunication. This cohesive approach not only
              sped up project timelines but also ensured that the tool remained
              scalable and adaptable to future enhancements, making it a
              critical investment for the project's long-term success and
              maintainability.
            </p>
          </div>
        </div>
      </div>
    </section> -->
    <section class='lg:mt-20'>
      <div class='container__one-col'>
        <div class='col-one center'>
          <div class=''>
            <h2 class='secondary-header text-sans-bold'>
              Moving Towards Production
            </h2>
          </div>
          <div class='container_image'>
            <PhotoSwipeImage
              image={{
                src: modelWireframe.src,
                width: 6165,
                height: 1912,
                thumbnail: modelWireframe,
              }}
              figcap='Wireframes for translating new menu patterns to fit within the overall platform structure'
              alt='New more effeiecnt menu structures'
            />
          </div>
        </div>
      </div>
    </section>
    <section class='lg:mt-20'>
      <!-- <div class="">
        <h2 class="secondary-header_sm text-sans-bold">
          Implementing New Menu Structures
        </h2>
      </div> -->
      <div class='container__two-col_extended'>
        <div class='h-full flex flex-col justify-center'>
          <h2 class='secondary-header_sm text-sans-bold'>
            Implementing New Menu Structures
          </h2>
          <p>
            One of the key aspects of our redesign strategy was to introduce new
            menu structures that optimize the workspace and enhance user
            efficiency. Leveraging insights from user personas and market
            research, I crafted intuitive menu layouts designed to maximize
            canvas space while providing easy access to essential features.
          </p>
          <br />
          <p>
            The new menu structures were designed to accommodate current
            functionalities seamlessly while also allowing room for future
            feature expansions. By decluttering the interface and staging
            lesser-used elements, I aimed to minimize visual noise and
            streamline user workflows.
          </p>
        </div>
        <div class=''>
          <PhotoSwipeImage
            image={{
              src: menuStage.src,
              width: 836,
              height: 806,
              thumbnail: menuStage,
            }}
            figcap='Removing redundant labeling, and staging lesser used elements increased canvas space considerably'
            alt='White space present on old modeler'
          />
        </div>
      </div>
    </section>
  </main>

  <style>
    /* Base styles */
    .img_screen {
      border-radius: 4px;
    }

    /* Headers */
    .primary-header {
      line-height: 0.8;
      font-size: 5rem;
    }

    .secondary-header,
    .secondary-header_sm {
      margin-bottom: 2rem;
    }

    .secondary-header {
      font-size: 3rem;
      line-height: 1;
    }
    .secondary-header_sm {
      font-size: 2.5rem;
      line-height: 1;
    }

    /* Hero section */
    .hero-container {
      display: flex;
      flex-direction: column;
    }

    /* Description section */
    .section-description {
      grid-template-columns: repeat(9, 1fr);
      gap: 1rem;
    }

    .description {
      font-size: 1.5rem;
    }

    .container-description {
      display: grid;
      grid-column: 1 / 13;
    }

    /* Project categories section */
    .container-project-cats {
      flex-wrap: wrap;
      gap: 1rem;
    }

    .col-three > .container-tools {
      grid-template-columns: repeat(3, 1fr) !important;
    }

    /* Challenge section */
    .container-challenge-cont__image {
      order: 2;
    }

    .container-challenge {
      display: grid;
      grid-template-columns: 1fr;
      gap: 30px;
    }

    /* List styles */
    .list {
      list-style: unset;
      padding-left: 2rem;
    }

    ul.list li {
      padding: 1rem 0;
    }

    .container-split-list,
    .container-challenge-cont {
      display: grid;
      grid-template-columns: 1fr;
      gap: 30px;
    }

    /* Image section */
    .container-image__two-col,
    .container__two-col {
      display: grid;
      grid-template-columns: repeat(1, 1fr);
      gap: 1rem;
    }

    /* column container */

    .container__three-col {
      display: grid;
      grid-template-columns: repeat(1, 1fr);
      gap: 3rem;
    }

    .container__two-col_extended {
      display: grid;
      grid-template-columns: repeat(1, 1fr);
    }

    /* column  */

    .col-one.center {
      display: flex;
      flex-direction: column;
      align-items: center;
    }

    /* Byline styles */
    .byline {
      padding: 0.1rem 0;
      animation-delay: 1s;
      animation: transitionLeft 1s;
      font-size: 3rem;
      line-height: 1;
    }

    .stagger {
      animation: transitionLeft 1.3s;
    }

    /* Media queries */
    @media (max-width: 1000px) {
      .primary-header {
        font-size: 14.06vw;
      }

      .primary-header p:last-child {
        margin-top: 1rem;
      }
    }

    @media (min-width: 1000px) {
      .hero-container {
        flex-direction: row;
      }

      .container__three-col {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 1rem;
      }

      .container-image__two-col {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 1rem;
      }

      .container__two-col {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 4rem;
      }

      .container__two-col_extended {
        display: grid;
        grid-template-columns: repeat(6, 2fr);
        gap: 4rem;
      }
      .container__two-col_extended > :first-child {
        grid-column: span 4;
      }
      .container__two-col_extended > :nth-child(2) {
        grid-column: span 2;
      }

      .container-split-list,
      .container-challenge-cont {
        grid-template-columns: 1fr 1fr;
      }
      .list-header {
        text-align: center;
      }
    }

    @media (min-width: 768px) {
      .container-description {
        grid-column: 1 / 10;
      }

      .container-challenge-cont__image {
        order: 1;
      }

      .container-challenge-cont__challenge {
        order: 2;
      }

      #links-section {
        flex-direction: row;
      }
    }

    /* Animations */
    @keyframes transitionIn {
      from {
        opacity: 0;
        transform: translateY(10px);
      }
      to {
        opacity: 1;
        transform: translateY(0);
      }
    }

    @keyframes transitionLeft {
      0% {
        opacity: 0;
        transform: translateX(-5px);
      }
      80% {
        transform: translateX(3px);
      }
      100% {
        opacity: 1;
        transform: translateX(0);
      }
    }
  </style>
</Layout>
