---
import Footer from "../../components/Footer.astro";
import Link from "../../components/General/Link.astro";
import Header from "../../components/Header.astro";
import ProjectCats from "../../components/Project/Project-Cats.astro";
import Layout from "../../layouts/Layout.astro";
import ToolCard from "../../components/Tool-Card.astro";
---

<Layout title="Hunter Van Lear">
  <Header />
  <main class="container flex flex-col">
    <section class="hero-section container">
      <Link arrowOnLeft text="projects" url="" />
      <div class="container-name">
        <h1 class="container-name__text mt-4 text-sans-bold flex flex-row">
          <span>Stephen King</span>
          <span class="ml-3">REST API</span>
        </h1>
      </div>
      <div class="container-project-cats mt-4 space-x-5 flex flex-row">
        <ProjectCats color="#FFC850" title="Development" />
        <ProjectCats color="#FFC850" title="API Design" />
      </div>
    </section>
    <div class="body-grid"></div>
    <section class="section-description mt-8 grid">
      <div class="container-description text-sans">
        <div class="container-description__description">
          <p class="description">
            A restful API built from the collected works of the horror master. I
            thought it strange that there was no pragmatically accessible data
            for one of the greatest living authors, so I built one. His loosely
            connected works fit perfectly into a relational database schema.
          </p>
        </div>
        <div class="container-description__link flex justify-end">
          <Link text="view site" url="https://stephen-king-api.onrender.com/" />
        </div>
      </div>
    </section>
    <section class="section-goal mt-20">
      <div class="container-goal grid">
        <div class="container-goal__tools flex flex-col space-y-20">
          <div class="tools-row flex flex-row space-x-10">
            <ToolCard
              url="/svg/tools-js.svg"
              ,
              title="Javascript"
              ,
              content="For interaction design testing"
            />
            <ToolCard
              url="/svg/tools-js.svg"
              ,
              title="Javascript"
              ,
              content="For interaction design testing"
            />
          </div>
          <div class="tools-row flex flex-row space-x-10">
            <ToolCard
              url="/svg/tools-js.svg"
              ,
              title="Javascript"
              ,
              content="For interaction design testing"
            />
            <ToolCard
              url="/svg/tools-js.svg"
              ,
              title="Javascript"
              ,
              content="For interaction design testing"
            />
          </div>
        </div>
        <div class="container-goal__goal">
          <div class="goal-header text-sans-bold">
            <h2>The Goal</h2>
          </div>
          <div class="goal-text text-sans">
            <p>
              Lorem ipsum dolor, sit amet consectetur adipisicing elit. Totam
              dolorem eveniet tenetur inventore asperiores nobis perspiciatis
              ullam ea qui est doloremque maxime, explicabo ipsum labore at
              fugit provident maiores reprehenderit!
            </p>
          </div>
        </div>
      </div>
    </section>
  </main>
  <footer id="footer">
    <Footer />
  </footer>
</Layout>

<style>
  main {
    min-height: 85vh;
    margin: auto;
    padding: 1rem;
    /* max-width: calc(100% - 2rem); */
    color: var(--clr-white);
    font-size: 20px;
    line-height: 1.6;
    animation: transitionIn 1s;
  }

  .container-name__text > span {
    line-height: 0.8;
  }
  .section-description {
    grid-template-columns: repeat(12, 1fr);
    gap: 1rem;
  }

  .description {
    font-size: 1.5rem;
  }

  .container-description {
    grid-column: 1 / 10;
  }

  .container-goal {
    display: grid;
    grid-template-columns: 1fr 2fr; /* creates a two-column layout */
    gap: 20px; /* adjust this to fit your needs */
  }

  .byline {
    padding: 0.1rem 0;
    animation-delay: 1s;
    animation: transitionLeft 1s;
    font-size: 3rem;
    line-height: 1;
  }

  .stagger {
    animation: transitionLeft 1.3s;
  }

  /* ANIMATIONS */

  @keyframes transitionIn {
    from {
      opacity: 0;
      transform: translateY(10px);
    }
    to {
      opacity: 1;
      transform: translateY(0);
    }
  }

  @keyframes transitionLeft {
    0% {
      opacity: 0;
      transform: translateX(-5px);
    }
    80% {
      transform: translateX(3px);
    }
    100% {
      opacity: 1;
      transform: translateX(0);
    }
  }

  @media (min-width: 768px) {
    #links-section {
      flex-direction: row;
    }
  }
</style>
