---
import Footer from "../../components/Footer.astro"
import Header from "../../components/Header.astro"
import ProjectCats from "../../components/Project/Project-Cats.astro"
import Layout from "../../layouts/Layout.astro"
---

<Layout title="Hunter Van Lear">
  <Header />
  <main class="container flex flex-col items-center">
    <section class="hero-section container">
      <article class="container">
        <div class="container-name">
          <h1
            class="container-name__text byline mt-4 text-sans-bold flex flex-row"
          >
            <span>Stephen King </span>
            <span class="ml-3">REST API</span>
          </h1>
        </div>
    <div class="container-project-cats mt-4 space-x-5 flex flex-row">
        <ProjectCats color="#FFC850" title="Development"/>
        <ProjectCats color="#FFC850" title="API Design" />
    </div>
    
  </main>
  <footer id="footer">
    <Footer />
  </footer>
</Layout>

<style>
  main {
    min-height: 85vh;
    margin: auto;
    padding: 1rem;
    /* max-width: calc(100% - 2rem); */
    color: var(--clr-white);
    font-size: 20px;
    line-height: 1.6;
    animation: transitionIn 1s;
  }

  #links-section {
    width: 100%;
    height: 100%;
    max-width: 162rem;
    box-sizing: content-box;
    height: 100%;
  }

  .container-name__text > span {
    font-size: 5rem;
    line-height: 0.8;
  }

  .byline {
    padding: 0.1rem 0;
    animation-delay: 1s;
    animation: transitionLeft 1s;
    font-size: 3rem;
    line-height: 1;
  }

  .stagger {
    animation: transitionLeft 1.3s;
  }

  /* ANIMATIONS */

  @keyframes transitionIn {
    from {
      opacity: 0;
      transform: translateY(10px);
    }
    to {
      opacity: 1;
      transform: translateY(0);
    }
  }

  @keyframes transitionLeft {
    0% {
      opacity: 0;
      transform: translateX(-5px);
    }
    80% {
      transform: translateX(3px);
    }
    100% {
      opacity: 1;
      transform: translateX(0);
    }
  }

  @media (min-width: 768px) {
    #links-section {
      flex-direction: row;
    }
  }
</style>
