---
interface Props {
	title: string
}

const { title } = Astro.props
---

<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="description" content="Astro description" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<link rel="preconnect" href="https://fonts.googleapis.com" />
		<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
		<link
			href="https://fonts.googleapis.com/css2?family=Cormorant+Garamond:wght@300;400&display=swap"
			rel="stylesheet"
		/>
		<meta name="generator" content={Astro.generator} />
		<title>{title}</title>
	</head>
	<body>
		<slot />
	</body>
</html>

<style is:global>
	@font-face {
		font-family: 'Graphik';
		src: url('/fonts/Graphik-Regular') format('tff');
		font-family: 'Graphik-Bold-Web';
		src: url('/fonts/Graphik-Bold-Web') format('tff');
		font-family: 'Sohne-Extraleicht';
		src: url('/fonts/Sohne-Extraleicht.otf') format('otf');
		font-family: 'Sohne-Leicht';
		src: url('/fonts/Sohne-Leicht.otf') format('otf');
		font-family: 'Sohne-Fett';
		src: url('/fonts/Sohne-Fett.otf') format('otf');
		font-family: 'Sohne-Halbfett';
		src: url('/fonts/Sohne-Halbfett.otf') format('otf');
		font-family: 'Signifier';
		src: url('/fonts/signifier-web-regular.woff2') format('woff2');
		font-family: 'Heldane';
		src: url('/fonts/heldane-text-web-regular.woff2') format('woff2');
	}

	:root {
		--accent: 195, 55, 100;
		--accent-light: 224, 204, 250;
		--accent-dark: 29, 38, 113;
		--clr-blurple: #5c02ff;
		--clr-primary-bg: #13151a;
		--clr-footer-bg: #0f1116;
		--clr-off-white-3: #d5d2ce;
		--clr-white: #ffff;

		--text-serif: 'Cormorant Garamond', serif;
		--text-serif-2: 'Signifier', serif;
		--text-sans-reg: 'Graphik', sans-serif;
		--text-sans-bold: 'Graphik-Bold-Web', sans-serif;
		--text-sans-light: 'Sohne-Leicht', sans-serif;

		--accent-gradient: linear-gradient(
			45deg,
			rgb(var(--accent)),
			rgb(var(--accent-dark)) 30%,
			rgb(68, 74, 96) 100%
		);

		--text-gradient: {
			background-image: var(--accent-gradient);
			-webkit-background-clip: text;
			-webkit-text-fill-color: transparent;
			background-size: 400%;
			background-position: 0%;
		};
	}

	html {
		font-family: system-ui, sans-serif;
		background: var(--clr-primary-bg);
		background-size: 224px;
	}
	code {
		font-family:
			Menlo,
			Monaco,
			Lucida Console,
			Liberation Mono,
			DejaVu Sans Mono,
			Bitstream Vera Sans Mono,
			Courier New,
			monospace;
	}

	body {
		overflow-x: hidden;
		-webkit-font-smoothing: antialiased;
		-moz-osx-font-smoothing: grayscale;
	}

	button {
		background: none;
		color: inherit;
		border: none;
		padding: 0;
		font: inherit;
		cursor: pointer;
		outline: inherit;
	}

	.text-serif {
		font-family: var(--text-serif);
	}

	.text-serif-2 {
		font-family: var(--text-serif-2);
	}

	.text-sans {
		font-family: var(--text-sans-reg);
	}
	.text-sans-bold {
		font-family: var(--text-sans-bold);
	}
	.text-sans-light {
		font-family: var(--text-sans-light);
		font-weight: 300;
	}

	.text-light {
		color: var(--clr-white);
	}
</style>
